@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #050505; /* Matches brand.black */
    color: #EDEDED;            /* Matches brand.text */
  }
  
  body {
    @apply antialiased min-h-screen flex flex-col;
  }

  /* GLOBAL LINK STYLES - No more ugly blue */
  a {
    @apply text-brand-muted transition-colors duration-200;
    text-decoration: none;
  }
  a:hover {
    @apply text-brand-text;
  }
}